@model IEnumerable<ExpressNews.Models.ViewModel.UserVM>


<div class="container">
    <form method="post" action="/UserAssignRoles/Index" id="userRoleForm">
       <div class="container table-container">
            <h5>Employee List with Role</h5>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email Address</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                            <td id="@item.Id">@item.Id</td>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Email</td>
                            <td>
                                <select class="form-control" id="@item.Id" name="@item.Id" style="width:40%">
                                <option value="">--Select the user role--</option>
                                    @if (item.Role == "Admin")
                                    {
                                        <option value="Admin"selected>Admin</option>
                                        <option value="Editor">Editor</option>
                                        <option value="Journalist">Journalist</option>
                                        <option value="Member">Member</option>
                                    }
                                    else if (item.Role == "Editor")
                                    {
                                        <option value="Admin">Admin</option>
                                        <option value="Editor" selected>Editor</option>
                                        <option value="Journalist">Journalist</option>
                                        <option value="Member">Member</option>
                                    }
                                    else if (item.Role == "Journalist")
                                    {
                                        <option value="Admin" >Admin</option>
                                        <option value="Editor">Editor</option>
                                        <option value="Journalist" selected>Journalist</option>
                                        <option value="Member">Member</option>
                                    }
                                    else
                                    {
                                        <option value="Admin" >Admin</option>
                                        <option value="Editor">Editor</option>
                                        <option value="Journalist">Journalist</option>
                                        <option value="Member">Member</option>
                                    }

                                
                            </select>
                            </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>

        <button type="submit" class="btn btn-primary">Assign Role</button>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#userRoleForm').on('submit', function (event) {
            event.preventDefault(); // Prevent the default form submission

            var users = [];
            $('#userRoleForm tbody tr').each(function () {
                var userId = $(this).find('td:first').text();
                var user = {
                    Id: userId,
                    Role: $(this).find('select').val()
                };
                users.push(user);
            });

            $.ajax({
                url: '/UserAssignRoles/Index', // The URL to send the data to
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(users),
                success: function (response) {
                    // Handle the response from the server
                    alert('Roles assigned successfully!');
                },
                error: function (xhr, status, error) {
                    // Handle any errors
                    alert('An error occurred: ' + error);
                }
            });
        });
    });
</script>


