@model IEnumerable<ExpressNews.Models.Database.Article>


@{
    // var First3News = Model.Take(3);
    int i = 1;
}
<div class="container">

    <div class="row">
        <div class="col-md-8 round3 bg-white border radius:20px p-3">
            <div id="carouselExample" class="carousel slide carousel-fade t">
                <div class="carousel-inner rounded-5 shadow-4-strong">

                    @foreach (var row in Model.Take(3))
                    {
                        @if (i == 1)
                        {
                            <div class="carousel-item active" data-interval="60">

                                <img src="@row.ImageLink" class="d-block w-100" style="height:500px" alt="...">
                                <div class="carousel-caption bg-black bg-opacity-75 d-md-block">
                                    <h4 id="#" class="text-white fw-bolder" onclick="readMore(@Html.DisplayFor(item => row.Id))" style="cursor:pointer">@row.HeadLine</h4>
                                    @* <p>@row.ContentSummary</p> *@
                                </div> 
                            </div>
                            i++;
                        }
                        else if (i == 2)
                        {
                            <div class="carousel-item" data-interval="60">

                                <img src="@row.ImageLink" class="d-block w-100" style="height:500px" alt="...">
                                <div class="carousel-caption bg-black bg-opacity-75 d-md-block">
                                    <h4 id="#" class="text-white fw-bolder" onclick="readMore(@Html.DisplayFor(item => row.Id))" style="cursor:pointer">@row.HeadLine</h4>
                                    @* <p>@row.ContentSummary</p> *@
                                </div>
                            </div>
                            i++;
                        }else if(i==3){
                            <div class="carousel-item" data-interval="60">

                                <img src="@row.ImageLink" class="d-block w-100" style="height:500px" alt="...">
                                <div class="carousel-caption bg-black bg-opacity-75 d-md-block">
                                    <h4 id="#" class="text-white fw-bolder" onclick="readMore(@Html.DisplayFor(item => row.Id))" style="cursor:pointer">@row.HeadLine</h4>
                                    @* <p>@row.ContentSummary</p> *@
                                </div>
                            </div>
                            i++;
                        }

                    }

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
      
        <div class="col-md-4 round3 bg-white border radius:20px p-3">
            @foreach (var row in Model.Skip(3).Take(1))
            {
                <div class="column" style="border-block-color" class="p-3">
                        <img src="@row.ImageLink" style="width:100%; height:100% alt="Sports Image 3">

                    <h4 id="#" onclick="readMore(@Html.DisplayFor(item => row.Id))" style="color:black;cursor:pointer">@row.HeadLine</h4>
                        <p>@row.ContentSummary</p>
                </div>
            }
        </div>
      
    </div>
    <br />
   

    <div class="row">
        <div class="col-md-4 round3 bg-white border radius:20px p-3 h-100">
            @foreach (var row in Model.Skip(4).Take(1))
            {
                <img src="@row.ImageLink" style="width:100%; height:100%" alt="Sports Image 1">
                <h4 id="#" onclick="readMore(@Html.DisplayFor(item => row.Id))" style="color:black;cursor:pointer">@row.HeadLine</h4>
                <p>@row.ContentSummary</p>
            }
        </div>
        <div class="col-md-4">
            <div class="column" style="border-block-color">
               
                <vc:latest-article count="3"></vc:latest-article>
              
            </div>

        </div>
        <div class="col-md-4 round3 bg-white border radius:20px p-3  h-100">
            @foreach (var row in Model.Skip(5).Take(1))
            {
                <img src="@row.ImageLink" style="width:100%; height:100%" alt="Sports Image 1">
                <h4 id="#" onclick="readMore(@Html.DisplayFor(item => row.Id))" style="color:black;cursor:pointer">@row.HeadLine</h4>
                <p>@row.ContentSummary</p>
            }
        </div>
            
    </div>

    <div class="row">
        @foreach (var row in Model.Skip(6))
        {
            <div class="col-3 round3 bg-white border radius:20px p-3 g-3 gap-3">
                <img src="@row.ImageLink" style="width:100%; height:100% alt="Sports Image 1">
                <h4 id="#" onclick="readMore(@Html.DisplayFor(item => row.Id))" style="color:black;cursor:pointer">@row.HeadLine</h4>
                <p>@row.ContentSummary</p>
            </div>
        }
    </div>


</div>

 

<script>
    function readMore(id) {

        var paramID = id;
        window.location.href = '@Url.Action("SingleArticle", "Article", new { id = "__ID_PLACEHOLDER__" })'.replace("__ID_PLACEHOLDER__", paramID);
    }

    function readMoreSubscription(id) {
        // window.location.href = '@Url.Action("Index", "Subscription")';
        var paramID = id;
        window.location.href = '@Url.Action("Index", "Subscription", new { id = "__ID_PLACEHOLDER__" })'.replace("__ID_PLACEHOLDER__", paramID);

    }
</script>

