@model ExpressNews.Models.Database.Tip

@{
    ViewData["Title"] = "Details";
}
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    var lgImageUrl = Configuration.GetValue<string>("LGImage");
    var smImageUrl = Configuration.GetValue<string>("SMImage");
}
<h1>Details</h1>

<div>
    <h4>Tip</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10" id="idDescription">
           @*  @Html.DisplayFor(model => model.Description) *@
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelephoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelephoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class = "col-sm-10">
            <img src="@lgImageUrl@Html.DisplayFor(model => model.ImageName)" width="40%" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>
       @*  <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsApproved)
        </dd> *@
    </dl>
</div>
@{
    string htmlText = Model.Description ?? "";

}

<script>
    window.addEventListener('DOMContentLoaded', function () {
        var htmlText = `@Html.Raw(htmlText)`;
        var element2 = document.getElementById("idDescription");
        if (element2) {
            element2.innerHTML = htmlText;
        }

    });
</script>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
