@inject SignInManager<User> SignInManager
@using Microsoft.AspNetCore.Http
@inject Microsoft​.AspNetCore​.Http.IHttpContextAccessor HttpContextAccessor

@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    var session = HttpContextAccessor.HttpContext.Session;
    // var roleSessionValue = Session.GetString("Role");

}
<ul class="sidebar " display="flex">
    <li class="nav-item li"><a class="fw-bolder  @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    @if (session.GetString("Role") != "Member")
    {
        <li class="nav-item li"><a class="fw-bolder" asp-area="" asp-controller="Article" id="articles" asp-action="Index">Articles</a></li>
    }
    <li class="nav-item li"><a class="fw-bolder   @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a></li>
    <li class="nav-item li"><a class="fw-bolder   @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>

    @if (session.GetString("Role") != "Journalist" && session.GetString("Role") != "Editor")
    {
        <li class="nav-item li"><a class="fw-bolder" asp-area="" asp-controller="Subscription" id="subscription" asp-action="UserSubscription">Subscription</a></li>
    }

    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)
            " asp-page="./ExternalLogins">External logins</a></li>
    }

    @if (session.GetString("Role") == "Admin")
    {
        <li class="nav-item li"><a class="fw-bolder" asp-page="../Register" asp-route-emp="true" >Create Employee</a></li>
        <li class="nav-item li"><a class="fw-bolder" asp-area="" asp-controller="UserAssignRoles" asp-action="Index">User Management</a></li>
    }
    <li class="nav-item li"><a class="fw-bolder  @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
</ul>
<style>
    .sidebar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        font: 800;
        width: 220px;
        background-color: #f1f1f1;
        color: black;
    }

    .li a {
        display: block;
        color: #000;
        height: 65px;
        padding: 20px 16px;
        text-decoration: none;
    }

        .li a.active {
            background-color: black;
            color: white;
        }

        .li a:hover:not(.active) {
            background-color: black;
            color: white;
        }
</style>