@inject SignInManager<User> SignInManager
@using Microsoft.AspNetCore.Http
@inject Microsoft​.AspNetCore​.Http.IHttpContextAccessor HttpContextAccessor

@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    var session = HttpContextAccessor.HttpContext.Session;
    // var roleSessionValue = Session.GetString("Role");

}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@* <button class="p-2 navbar-toggler d-block d-sm-none" type="button" style="width:20%; border:none" data-bs-toggle="collapse" data-bs-target="#navbarNav2" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <img src="~/image/down-arrow.svg" style="width:20%" />
</button> *@

<button class="p-2 navbar-toggler d-block d-sm-none" type="button" style="width:20%; border:none" data-bs-toggle="collapse" data-bs-target="#navbarNav2" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" id="navbarToggle">
    <img src="~/image/down-arrow.svg" style="width:20%" id="toggleArrow" />
</button>


<div class="p-3 collapse navbar-collapse" id="navbarNav2">
    <ul class=" sidebar navbar-collapse " display="flex">
    <li class="nav-item li"><a class="fw-bolder  @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    @if (session.GetString("Role") == "Admin")
    {
        <li class="nav-item li"><a class="fw-bolder" asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>


        <li class="nav-item li"><a class="fw-bolder" asp-area="" asp-controller="Tip" id="articles" asp-action="Index">Tips</a></li>
        <li class="nav-item li"><a class="fw-bolder" asp-area="" asp-controller="Newsletter" id="" asp-action="Index">Newsletter</a></li>
        <li class="nav-item li"><a class="fw-bolder" asp-area="" asp-controller="Subscription" asp-action="UserSubscriptionDetails">Subscription Users</a></li>
        <li class="nav-item li"><a class="fw-bolder" asp-area="" asp-controller="Subscription" asp-action="SubscriptionTypeList">Subscription Type</a></li>
        <li class="nav-item li"><a class="fw-bolder" asp-page="../Register" asp-route-emp="true">Create Employee</a></li>
        <li class="nav-item li"><a class="fw-bolder" asp-area="" asp-controller="UserAssignRoles" asp-action="Index">User Management</a></li>
    }
    @if (session.GetString("Role") != "Member")
    {
        <li class="nav-item li"><a class="fw-bolder" asp-area="" asp-controller="Article" id="articles" asp-action="Index">Articles</a></li>
        @if (session.GetString("Role") == "Editor")
        {
            <li class="nav-item li"><a class="fw-bolder" asp-area="" asp-controller="Tip" id="articles" asp-action="Index">Tips</a></li>
        }
    }
    <li class="nav-item li"><a class="fw-bolder   @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a></li>
    <li class="nav-item li"><a class="fw-bolder   @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>

    @if (session.GetString("Role") == "Member")
    {
        @if (session.GetString("IsSubcribedUser") == "Yes")
        {
            <li class="nav-item li"><a class="fw-bolder" asp-area="" asp-controller="Newsletter" id="" asp-action="Create">Newsletter</a></li>
            <li class="nav-item li"><a class="fw-bolder" asp-area="" asp-controller="Article" id="" asp-action="ArchiveNews">Archive News</a></li>

        }
        <li class="nav-item li"><a class="fw-bolder" asp-area="" asp-controller="Subscription" id="subscription" asp-action="UserSubscription">Subscription</a></li>
    }

    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)
            " asp-page="./ExternalLogins">External logins</a></li>
    }

    
    <li class="nav-item li"><a class="fw-bolder  @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
</ul>
</div>



<ul class="d-none d-sm-block sidebar navbar-collapse" display="flex">
    <li class="nav-item li"><a class="fw-bolder  @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    @if (session.GetString("Role") == "Admin")
    {
        <li class="nav-item li"><a class="fw-bolder" asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>


        <li class="nav-item li"><a class="fw-bolder" asp-area="" asp-controller="Tip" id="articles" asp-action="Index">Tips</a></li>
        <li class="nav-item li"><a class="fw-bolder" asp-area="" asp-controller="Newsletter" id="" asp-action="Index">Newsletter</a></li>
        <li class="nav-item li"><a class="fw-bolder" asp-area="" asp-controller="Subscription" asp-action="UserSubscriptionDetails">Subscription Users</a></li>
        <li class="nav-item li"><a class="fw-bolder" asp-area="" asp-controller="Subscription" asp-action="SubscriptionTypeList">Subscription Type</a></li>
        <li class="nav-item li"><a class="fw-bolder" asp-page="../Register" asp-route-emp="true">Create Employee</a></li>
        <li class="nav-item li"><a class="fw-bolder" asp-area="" asp-controller="UserAssignRoles" asp-action="Index">User Management</a></li>
    }
    @if (session.GetString("Role") != "Member")
    {
        <li class="nav-item li"><a class="fw-bolder" asp-area="" asp-controller="Article" id="articles" asp-action="Index">Articles</a></li>
        @if (session.GetString("Role") == "Editor")
        {
            <li class="nav-item li"><a class="fw-bolder" asp-area="" asp-controller="Tip" id="articles" asp-action="Index">Tips</a></li>
        }
    }
    <li class="nav-item li"><a class="fw-bolder   @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a></li>
    <li class="nav-item li"><a class="fw-bolder   @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>

    @if (session.GetString("Role") == "Member")
    {
        @if (session.GetString("IsSubcribedUser") == "Yes")
        {
            <li class="nav-item li"><a class="fw-bolder" asp-area="" asp-controller="Newsletter" id="" asp-action="Create">Newsletter</a></li>
        }
        <li class="nav-item li"><a class="fw-bolder" asp-area="" asp-controller="Subscription" id="subscription" asp-action="UserSubscription">Subscription</a></li>
    }

    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item">
            <a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)
                " asp-page="./ExternalLogins">External logins</a>
        </li>
    }


    <li class="nav-item li"><a class="fw-bolder  @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
</ul> 
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var navbarToggle = document.getElementById('navbarToggle');
        var toggleArrow = document.getElementById('toggleArrow');

        navbarToggle.addEventListener('click', function() {
            var isExpanded = navbarToggle.getAttribute('aria-expanded') === 'true';
            if (isExpanded) {
                toggleArrow.src = '/image/up-arrow.svg';
            } else {
                toggleArrow.src = '/image/down-arrow.svg';
            }
        });

        // Optional: If you want to reset the arrow when the page loads based on the initial state
        var initialExpanded = navbarToggle.getAttribute('aria-expanded') === 'true';
        toggleArrow.src = initialExpanded ? '/image/down-arrow.svg' : '/image/up-arrow.svg';
    });
</script>
<style>
    .sidebar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        font: 800;
        width: 220px;
        background-color: #f1f1f1;
        color: black;
    }

    .li a {
        display: block;
        color: #000;
        height: 65px;
        padding: 20px 16px;
        text-decoration: none;
    }

        .li a.active {
            background-color: black;
            color: white;
        }

        .li a:hover:not(.active) {
            background-color: black;
            color: white;
        }
</style>