@model IEnumerable<ExpressNews.Models.OldArticle>

@* @{
    ViewData["Title"] = "ArchiveNews";
}

<h1>ArchiveNews</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
 *@<table class="table">
    @* <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HeadLine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentSummary)
            </th>
            <th></th>
        </tr>
    </thead> *@
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                        <a href="/Article/SingleArticle/@item.Id">@item.HeadLine</a><br />
                        @Html.DisplayFor(modelItem => item.DateStamp)<br />
                        <img src="@item.ImageLink" alt="" width="20%" /><br />
                        <p class="gap-2">@item.ContentSummary</p><br />
                    
                </td>
            </tr>
        }
    </tbody>
</table>
