@model IEnumerable<ExpressNews.Models.Database.Article>


@{
    var singleNews = Model.Take(1);
}

@foreach (var data in singleNews)
{

    <div class="row">
        <div class="col-md-8 ">
            <div class="bg-light w-100">
                <div class="w-100 p-3 border bg-white">

                    <a href="#" style="color:black; text-decoration:none!important">
                        <h1 id="#" onclick="readMore(@data.Id))">
                            @data.LinkText
                        </h1>
                    </a>
                    <img src="@data.ImageLink" alt="Article Image" width="100%" height="100%" /> <br /> <br />
                    <p>@data.ContentSummary)</p>

                    @if (data.IsSubsription)
                    {
                        <button onclick="readMoreSubscription(@Html.DisplayFor(item => data.Id ))" style="font-weight:600; color: black; background-color: yellow; border: 1px solid black; padding: 2px 5px; display: inline-block; cursor: pointer;border-radius: 5px;">
                            <i class="fa-solid fa-plus"></i> Read More
                        </button>

                    }
                    else
                    {
                        <button onclick="readMore(@Html.DisplayFor(item => data.Id))" style="font-weight:600; color: white; background-color: #5656ed; border: 1px solid black; padding: 2px 5px; display: inline-block; cursor: pointer;border-radius: 5px; ">
                            Read More
                        </button>
                    }

                </div>
            </div>
        </div>

        @{
            var otherNews = Model.Skip(2);
        }
         
        
      
        <div class="col-md-4">
            <p>@data.HeadLine</p>
        </div>
        
    </div>



}


@* @{
    var otherNews = Model.Skip(2);
}
@foreach (var data in otherNews)
{
    <p>@data.HeadLine</p>
}



 *@






 
 
    <div class="Container">
        
                 
        @foreach (var row in Model)
            {
                

                    <div class="row">

                        <div class="col-md-8 ">
                                @*  1 article 100% *@
                            
                                <div class="bg-light w-100">
                                    <div class="w-100 p-3 border bg-white">
                                        <a href="#" style="color:black; text-decoration:none!important">
                                            <h1 id="#" onclick="readMore(@Html.DisplayFor(item => row.Id))">
                                                @Html.DisplayFor(item => row.HeadLine)
                                            </h1>

                                        </a>
                                        <img src="@Html.DisplayFor(item => row.ImageLink)" alt="Article Image" width="100%" height="100%" /> <br /> <br />
                                        <p>@Html.DisplayFor(item => row.ContentSummary)</p>


                                        @if (row.IsSubsription)
                                        {
                                            <button onclick="readMoreSubscription(@Html.DisplayFor(item => row.Id ))" style="font-weight:600; color: black; background-color: yellow; border: 1px solid black; padding: 2px 5px; display: inline-block; cursor: pointer;border-radius: 5px;">
                                                <i class="fa-solid fa-plus"></i> Read More
                                            </button>

                                        }
                                        else
                                        {
                                            <button onclick="readMore(@Html.DisplayFor(item => row.Id))" style="font-weight:600; color: white; background-color: #5656ed; border: 1px solid black; padding: 2px 5px; display: inline-block; cursor: pointer;border-radius: 5px; ">
                                                Read More
                                            </button>
                                        }

                                    </div>
                                    <br />

                                </div>
                          
                                @* 2 article *@
                                <div class="bg-light w-100">
                                    <div class="w-100 p-3 border bg-white">
                                        <a href="#" style="color:black; text-decoration:none!important">
                                            <h3 id="#" onclick="readMore(@Html.DisplayFor(item => row.Id))">
                                                @Html.DisplayFor(item => row.HeadLine)
                                            </h3>
                                        </a>
                                        <div class=" row">
                                            <div class=" col">
                                                <img src="@Html.DisplayFor(item => row.ImageLink)" alt="Article Image" width="100%" height="100%" />
                                            </div>
                                            <div class=" col">
                                                <p>@Html.DisplayFor(item => row.ContentSummary)</p>
                                                @if (row.IsSubsription)
                                                {
                                                    <button onclick="readMoreSubscription(@Html.DisplayFor(item => row.Id))" style="font-weight:600; color: black; background-color: yellow; border: 1px solid black; padding: 2px 5px; display: inline-block; cursor: pointer;border-radius: 5px;">
                                                        <i class="fa-solid fa-plus"></i> Read More
                                                    </button>

                                                }
                                                else
                                                {
                                                    <button onclick="readMore(@Html.DisplayFor(item => row.Id))" style="font-weight:600; color: white; background-color: #5656ed; border: 1px solid black; padding: 2px 5px; display: inline-block; cursor: pointer;border-radius: 5px; ">
                                                        Read More
                                                    </button>
                                                }
                                            </div>

                                        </div>

                                    </div>
                                    <br />
                                </div>
                          
                                @* 3 article *@
                                <div class="bg-light w-100">
                                    <div class="w-100 p-3 border bg-white">
                                        <a href="#" style="color:black; text-decoration:none!important">
                                            <h3 id="#" onclick="readMore(@Html.DisplayFor(item => row.Id))">
                                                @Html.DisplayFor(item => row.HeadLine)
                                            </h3>
                                        </a>
                                        <div class=" row">
                                            <div class=" col">
                                                <img src="@Html.DisplayFor(item => row.ImageLink)" alt="Article Image" width="100%" height="100%" />
                                            </div>
                                            <div class=" col">
                                                <p>@Html.DisplayFor(item => row.ContentSummary)</p>
                                                @if (row.IsSubsription)
                                                {
                                                    <button onclick="readMoreSubscription(@Html.DisplayFor(item => row.Id))" style="font-weight:600; color: black; background-color: yellow; border: 1px solid black; padding: 2px 5px; display: inline-block; cursor: pointer;border-radius: 5px;">
                                                        <i class="fa-solid fa-plus"></i> Read More
                                                    </button>

                                                }
                                                else
                                                {
                                                    <button onclick="readMore(@Html.DisplayFor(item => row.Id))" style="font-weight:600; color: white; background-color: #5656ed; border: 1px solid black; padding: 2px 5px; display: inline-block; cursor: pointer;border-radius: 5px; ">
                                                        Read More
                                                    </button>
                                                }
                                            </div>

                                        </div>

                                    </div>
                                    <br />
                                </div>
                           
                        </div>


                        <div class="col-md-4">
                            
                                @* 4 article *@
                                <div class="bg-light w-auto">
                                    <div class="w-100 p-3 border bg-white">
                                        <a href="#" style="color:black; text-decoration:none!important">
                                            <h4 id="#" onclick="readMore(@Html.DisplayFor(item => row.Id))">
                                                @Html.DisplayFor(item => row.HeadLine)
                                            </h4>

                                        </a>
                                        <img src="@Html.DisplayFor(item => row.ImageLink)" alt="Article Image" width="100%" height="50%" /> <br /> <br />
                                        <p>@Html.DisplayFor(item => row.ContentSummary)</p>


                                        @if (row.IsSubsription)
                                        {
                                            <button onclick="readMoreSubscription(@Html.DisplayFor(item => row.Id))" style="font-weight:600; color: black; background-color: yellow; border: 1px solid black; padding: 2px 5px; display: inline-block; cursor: pointer;border-radius: 5px;">
                                                <i class="fa-solid fa-plus"></i> Read More
                                            </button>

                                        }
                                        else
                                        {
                                            <button onclick="readMore(@Html.DisplayFor(item => row.Id))" style="font-weight:600; color: white; background-color: #5656ed; border: 1px solid black; padding: 2px 5px; display: inline-block; cursor: pointer;border-radius: 5px; ">
                                                Read More
                                            </button>
                                        }

                                    </div>
                                    <br />
                                </div>
                           
                                @* 5 article *@
                                <div class="bg-light w-auto">
                                    <div class="w-100 p-3 border bg-white">
                                        <a href="#" style="color:black; text-decoration:none!important">
                                            <h4 id="#" onclick="readMore(@Html.DisplayFor(item => row.Id))">
                                                @Html.DisplayFor(item => row.HeadLine)
                                            </h4>

                                        </a>
                                        <img src="@Html.DisplayFor(item => row.ImageLink)" alt="Article Image" width="100%" height="100%" /> <br /> <br />
                                        <p>@Html.DisplayFor(item => row.ContentSummary)</p>


                                        @if (row.IsSubsription)
                                        {
                                            <button onclick="readMoreSubscription(@Html.DisplayFor(item => row.Id))" style="font-weight:600; color: black; background-color: yellow; border: 1px solid black; padding: 2px 5px; display: inline-block; cursor: pointer;border-radius: 5px;">
                                                <i class="fa-solid fa-plus"></i> Read More
                                            </button>

                                        }
                                        else
                                        {
                                            <button onclick="readMore(@Html.DisplayFor(item => row.Id))" style="font-weight:600; color: white; background-color: #5656ed; border: 1px solid black; padding: 2px 5px; display: inline-block; cursor: pointer;border-radius: 5px; ">
                                                Read More
                                            </button>
                                        }

                                    </div>
                                    <br />
                                </div>
                            
                                @* 6 article *@
                                <div class="bg-light w-auto">
                                    <div class="w-100 p-3 border bg-white">
                                        <a href="#" style="color:black; text-decoration:none!important">
                                            <h4 id="#" onclick="readMore(@Html.DisplayFor(item => row.Id))">
                                                @Html.DisplayFor(item => row.HeadLine)
                                            </h4>

                                        </a>
                                        <img src="@Html.DisplayFor(item => row.ImageLink)" alt="Article Image" width="100%" height="50%" /> <br /> <br />
                                        <p>@Html.DisplayFor(item => row.ContentSummary)</p>


                                        @if (row.IsSubsription)
                                        {
                                            <button onclick="readMoreSubscription(@Html.DisplayFor(item => row.Id))" style="font-weight:600; color: black; background-color: yellow; border: 1px solid black; padding: 2px 5px; display: inline-block; cursor: pointer;border-radius: 5px;">
                                                <i class="fa-solid fa-plus"></i> Read More
                                            </button>

                                        }
                                        else
                                        {
                                            <button onclick="readMore(@Html.DisplayFor(item => row.Id))" style="font-weight:600; color: white; background-color: #5656ed; border: 1px solid black; padding: 2px 5px; display: inline-block; cursor: pointer;border-radius: 5px; ">
                                                Read More
                                            </button>
                                        }

                                    </div>
                                    <br />
                                </div>
                            
                        </div>

                    </div>

                
            }

        
    </div>

}

